Repository sparkdq-community/sparkdq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: python
        types: [python]
        files: sparkdq/.*
        args: ["--active"]
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: python
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: python
        types: [python]
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.12
    hooks:
      - id: uv-lock

chore: add init to test folder
  tests/unit/checks/aggregate/uniqueness_checks/__init__.py
Due: ruff-check, ruff-format

feat(check): add CompletenessRatioCheck to validate non-null ratio of a column
  docs/source/built_in_checks/aggregate.rst
  docs/source/built_in_checks/checks/completeness/completeness_ratio_check.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/aggregate/completeness_checks/__init__.py
  sparkdq/checks/aggregate/completeness_checks/completeness_ratio_check.py
  tests/unit/checks/aggregate/completeness_checks/__init__.py
  tests/unit/checks/aggregate/completeness_checks/test_completeness_ratio_check.py
Due: mypy, ruff-check, ruff-format

feat(check): add aggregate-level check to ensure completeness of specified columns
  docs/source/built_in_checks/aggregate.rst
  docs/source/built_in_checks/checks/completeness/columns_are_complete_check.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/aggregate/completeness_checks/columns_are_complete_check.py
  tests/unit/checks/aggregate/completeness_checks/test_columns_are_complete_check.py
Due: mypy, ruff-check, ruff-format

feat(check): add DistinctRatioCheck to validate column cardinality
  docs/source/built_in_checks/aggregate.rst
  docs/source/built_in_checks/checks/uniqueness/distinct_ratio_check.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/aggregate/uniqueness_checks/distinct_ratio_check.py
  tests/unit/checks/aggregate/completeness_checks/test_distinct_ratio_check.py
Due: mypy, ruff-check, ruff-format

chore: add mypy ignore to ColumnsAreCompleteCheck
  sparkdq/checks/aggregate/completeness_checks/columns_are_complete_check.py
Due: mypy, ruff-check, ruff-format

chore(dependencies): execute sync
  uv.lock
Due: none

feat(check): add UniqueRowsCheck to detect duplicate rows based on full or partial column sets
  docs/source/built_in_checks/aggregate.rst
  docs/source/built_in_checks/checks/uniqueness/unique_rows_check.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/aggregate/uniqueness_checks/__init__.py
  sparkdq/checks/aggregate/uniqueness_checks/unique_rows_check.py
  tests/unit/checks/aggregate/uniqueness_checks/test_unique_rows_check.py
Due: mypy, ruff-check, ruff-format

feat(check): add UniqueRatioCheck to validate minimum uniqueness ratio in a column
  docs/source/built_in_checks/aggregate.rst
  docs/source/built_in_checks/checks/uniqueness/unique_ratio_check.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/aggregate/uniqueness_checks/unique_ratio_check.py
  tests/unit/checks/aggregate/uniqueness_checks/test_unique_ratio_check.py
Due: mypy, ruff-check, ruff-format

docs(README): add spark installation guideline link
  README.md
Due: none

feat: add property to validation summary to indicate if all checks passed
  docs/source/getting_started/applying_validation.rst
  sparkdq/engine/validation_summary.py
  tests/unit/engine/test_validation_summary.py
Due: mypy, ruff-check, ruff-format

docs(sphinx): add example link
  docs/source/examples.rst
  docs/source/index.rst
Due: none

chore(release): 0.6.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  sparkdq/__init__.py
Due: mypy, ruff-check, ruff-format

fix: ensure aggregate checks run on original input DataFrame
  sparkdq/engine/batch/check_runner.py
  tests/end_to_end/test_aggregate_checks_use_original_dataframe_e2e.py
Due: mypy, ruff-check, ruff-format

fix(engine): ensure aggregate checks run on original input DataFrame (#35)
  sparkdq/engine/batch/check_runner.py
  tests/end_to_end/test_aggregate_checks_use_original_dataframe_e2e.py
Due: mypy, ruff-check, ruff-format

chore(release): 0.6.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  sparkdq/__init__.py
Due: mypy, ruff-check, ruff-format

deploy: 4dbd7a56e9c8cdf265f86b77b61ce6408ff1afe8
  .doctrees/environment.pickle
  .doctrees/index.doctree
Due: none

chore(test): enable branch coverage in pyproject.toml and simplify test job
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Due: none

chore(test): enable branch coverage in pyproject.toml and simplify test job (#36)
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Due: none

deploy: d7a7ba87e76990d36e425cd47cd81e717492fbbe
  .doctrees/environment.pickle
  .doctrees/index.doctree
Due: none

chore(depenedencies): add pytest-mock as test dependency
  pyproject.toml
  uv.lock
Due: none

feat(check): add freshness-check to validate data recency based on configurable time threshold
  docs/source/built_in_checks/aggregate.rst
  docs/source/built_in_checks/checks/freshness/freshness_check.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/aggregate/freshness_checks/__init__.py
  sparkdq/checks/aggregate/freshness_checks/freshness_check.py
  tests/unit/checks/aggregate/freshness/__init__.py
  tests/unit/checks/aggregate/freshness/test_freshness_check.py
Due: mypy, ruff-check, ruff-format

docs: update description of check
  docs/source/built_in_checks/checks/freshness/freshness_check.rst
Due: none

feat: add data freshness check (#38)
  docs/source/built_in_checks/aggregate.rst
  docs/source/built_in_checks/checks/freshness/freshness_check.rst
  pyproject.toml
  sparkdq/checks/__init__.py
  sparkdq/checks/aggregate/freshness_checks/__init__.py
  sparkdq/checks/aggregate/freshness_checks/freshness_check.py
  tests/unit/checks/aggregate/freshness/__init__.py
  tests/unit/checks/aggregate/freshness/test_freshness_check.py
  uv.lock
Due: mypy, ruff-check, ruff-format

chore(release): 0.7.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  sparkdq/__init__.py
Due: mypy, ruff-check, ruff-format

ci(dependabot): add ecosystem for actions
  .github/dependabot.yml
Due: none

ci(dependabot): add ecosystem for actions (#39)
  .github/dependabot.yml
Due: none

deploy: 15e078281249a8c0d2089071a8ad4af1f43934b7
  .doctrees/environment.pickle
  .doctrees/index.doctree
Due: none

deploy: ff99eba3edd195a2b3aeb27a5d5f162e145ed5c6
  .doctrees/environment.pickle
  .doctrees/index.doctree
Due: none

chore(pyproject.toml): add build-system
  pyproject.toml
Due: none

chore(pyproject.toml): add build-system and license (#42)
  pyproject.toml
Due: none

deploy: 8c9b48ff887823209b4b9baaf55a705261c53098
  .doctrees/environment.pickle
  .doctrees/index.doctree
Due: none

refactor(checks): dynamically register CheckConfig classes in __init__.py
  sparkdq/checks/__init__.py
  tests/unit/checks/test_public_api.py
Due: mypy, ruff-check, ruff-format
