Repository sparkdq-community/sparkdq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: python
        types: [python]
        files: sparkdq/.*
        args: ["--active"]
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: python
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: python
        types: [python]
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.12
    hooks:
      - id: uv-lock

docs: update README structure
  README.md
Due: none

docs: update README
  README.md
Due: none

fix: add raise to report exclusion
  pyproject.toml
Due: none

chore(release): 0.11.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  sparkdq/__init__.py
Due: mypy, ruff-check, ruff-format

deploy: 5c8c03019a30ed82ce4afcd3eff28f5dd7f30585
  .doctrees/api/checks.doctree
  .doctrees/api/core.doctree
  .doctrees/api/exceptions.doctree
  .doctrees/api/management.doctree
  .doctrees/environment.pickle
  .doctrees/index.doctree
  _modules/sparkdq/checks/aggregate/count_checks/count_between_check.html
  _modules/sparkdq/checks/aggregate/count_checks/count_exact_check.html
  _modules/sparkdq/checks/aggregate/count_checks/count_max_check.html
  _modules/sparkdq/checks/aggregate/count_checks/count_min_check.html
  _modules/sparkdq/checks/aggregate/schema_checks/column_presence_check.html
  _modules/sparkdq/checks/row_level/contained_checks/is_contained_in_check.html
  _modules/sparkdq/checks/row_level/date_checks/date_between_check.html
  _modules/sparkdq/checks/row_level/date_checks/date_max_check.html
  _modules/sparkdq/checks/row_level/date_checks/date_min_check.html
  _modules/sparkdq/checks/row_level/null_checks/exactly_one_not_null_check.html
  _modules/sparkdq/checks/row_level/null_checks/not_null_check.html
  _modules/sparkdq/checks/row_level/null_checks/null_check.html
  _modules/sparkdq/checks/row_level/numeric_checks/numeric_between_check.html
  _modules/sparkdq/checks/row_level/numeric_checks/numeric_max_check.html
  _modules/sparkdq/checks/row_level/numeric_checks/numeric_min_check.html
  _modules/sparkdq/checks/row_level/string_checks/max_length_check.html
  _modules/sparkdq/checks/row_level/string_checks/min_length_check.html
  _modules/sparkdq/checks/row_level/string_checks/regex_match_check.html
  _modules/sparkdq/core/base_check.html
  _modules/sparkdq/core/base_config.html
  _modules/sparkdq/core/check_results.html
  _modules/sparkdq/core/severity.html
  _modules/sparkdq/exceptions.html
  _modules/sparkdq/management/check_set.html
  api/checks.html
  api/core.html
  api/exceptions.html
  api/management.html
  index.html
  searchindex.js
Due: none

deploy: 71bed18d44da0fcffed7bc5c927808a48b8222f1
  .doctrees/environment.pickle
  .doctrees/index.doctree
Due: none

deploy: 3b84ca15b74589e38ae258f15a0082d2236b71f0
  .doctrees/environment.pickle
  .doctrees/index.doctree
Due: none

fix: correct isin condition polarity in IsContainedInCheck and IsNotContainedInCheck
  sparkdq/checks/row_level/contained_checks/is_contained_in_check.py
  sparkdq/checks/row_level/contained_checks/is_not_contained_in_check.py
  tests/unit/checks/row_level/contained_in_checks/test_is_contained_in_check.py
  tests/unit/checks/row_level/contained_in_checks/test_is_not_contained_in_check.py
  uv.lock
Due: mypy, ruff-check, ruff-format

fix(ci): install gpg to enable codecov binary signature validation
  .github/workflows/ci.yaml
Due: none

fix: correct isin condition polarity in IsContainedInCheck and IsNotC… (#76)
  .github/workflows/ci.yaml
  sparkdq/checks/row_level/contained_checks/is_contained_in_check.py
  sparkdq/checks/row_level/contained_checks/is_not_contained_in_check.py
  tests/unit/checks/row_level/contained_in_checks/test_is_contained_in_check.py
  tests/unit/checks/row_level/contained_in_checks/test_is_not_contained_in_check.py
  uv.lock
Due: mypy, ruff-check, ruff-format

chore(release): 0.11.1 [skip ci]
  pyproject.toml
  sparkdq/__init__.py
Due: mypy, ruff-check, ruff-format

deploy: bc1481bbbbff04d69158324d58709edb1bac92dd
  .doctrees/environment.pickle
  .doctrees/index.doctree
  _modules/sparkdq/checks/row_level/contained_checks/is_contained_in_check.html
  _modules/sparkdq/checks/row_level/contained_checks/is_not_contained_in_check.html
Due: none

deploy: 159c8ceef6fae87adb2fa68631a35c538adcddba
  .doctrees/environment.pickle
  .doctrees/index.doctree
Due: none

deploy: 27b3419247cf33d3cfe99dcd217014c0b9c1003a
  .doctrees/environment.pickle
  .doctrees/index.doctree
Due: none

docs: improve README clarity and content
  README.md
Due: none

chore: short name of the ci.yaml
  .github/workflows/ci.yaml
Due: none

fix(docs): correct fail condition in custom row-level check example
  docs/source/custom_checks/implementation/row_level.rst
Due: none

docs: improve README and fix custom row-level check example (#77)
  .github/workflows/ci.yaml
  README.md
  docs/source/custom_checks/implementation/row_level.rst
Due: none

chore(release): 0.11.2 [skip ci]
  pyproject.toml
  sparkdq/__init__.py
Due: mypy, ruff-check, ruff-format

deploy: 9b7b33e021d56556fe3eaf3c0b0108cf9275b195
  .doctrees/custom_checks/implementation/row_level.doctree
  .doctrees/environment.pickle
  .doctrees/index.doctree
  _sources/custom_checks/implementation/row_level.rst
  custom_checks/implementation/row_level.html
  index.html
  searchindex.js
Due: none

chore(deps): upgrade all dependencies to latest compatible versions
  uv.lock
Due: none

docs: streamline README quickstart and use case sections
  README.md
Due: none

docs: revert use cases to bullet list format
  README.md
Due: none

docs: restore self-contained quickstart examples
  README.md
Due: none

docs: clarify declarative quickstart description
  README.md
Due: none

fix: handle Severity enum in normalize_severity and avoid mutating config dicts in CheckFactory
  sparkdq/core/severity.py
  sparkdq/plugin/check_factory.py
  tests/unit/core/test_severity.py
  tests/unit/plugin/test_check_factory.py
Due: mypy, ruff-check, ruff-format

fix: guard against VOID type error in summary and warn_df when all records pass
  sparkdq/engine/batch/validation_result.py
  tests/unit/engine/batch/test_validation_result.py
Due: mypy, ruff-check, ruff-format

ci: enable changelog updates in semantic release
  .github/workflows/ci.yaml
Due: none

style: apply ruff format
  tests/unit/engine/batch/test_validation_result.py
Due: ruff-check, ruff-format

docs: emphasize single-responsibility focus in README opener
  README.md
Due: none

docs: include README properly
  docs/source/index.rst
Due: none

chore: increase python version to 3.13
  .python-version
Due: none

chore: undo python version
  .python-version
Due: none

fix: resolve multiple bugs in validation result, severity normalization, and docs (#78)
  .github/workflows/ci.yaml
  README.md
  docs/source/index.rst
  sparkdq/core/severity.py
  sparkdq/engine/batch/validation_result.py
  sparkdq/plugin/check_factory.py
  tests/unit/core/test_severity.py
  tests/unit/engine/batch/test_validation_result.py
  tests/unit/plugin/test_check_factory.py
  uv.lock
Due: mypy, ruff-check, ruff-format

chore(release): 0.11.3 [skip ci]
  pyproject.toml
  sparkdq/__init__.py
Due: mypy, ruff-check, ruff-format
