Repository sparkdq-community/sparkdq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: python
        types: [python]
        files: sparkdq/.*
        args: ["--active"]
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: python
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: python
        types: [python]
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.12
    hooks:
      - id: uv-lock

chore(dependencies): execute uv sync
  uv.lock
Due: none

docs(custom-checks): add tutorial for custom checks
  docs/source/custom_checks/implementation/aggregate.rst
  docs/source/custom_checks/implementation/row_level.rst
  docs/source/custom_checks/implementation/structure.rst
  docs/source/custom_checks/introduction.rst
  docs/source/custom_checks/plugin_architecture.rst
  docs/source/custom_checks/separation_logic.rst
  docs/source/getting_started/defining_checks.rst
  docs/source/getting_started/introduction.rst
  docs/source/getting_started/validation_dataframes.rst
  docs/source/index.rst
Due: none

feat(registry): add load_config_module to load custom checks dynamically
  sparkdq/factory/__init__.py
  sparkdq/factory/check_config_registry.py
  sparkdq/factory/check_factory.py
  sparkdq/management/check_set.py
  tests/unit/factory/test_check_factory.py
Due: mypy, ruff-check, ruff-format

docs(custom-checks): add imports to examples
  docs/source/custom_checks/implementation/aggregate.rst
  docs/source/custom_checks/implementation/row_level.rst
  docs/source/custom_checks/implementation/structure.rst
  docs/source/custom_checks/plugin_architecture.rst
  docs/source/custom_checks/separation_logic.rst
Due: none

refactor: renamed subpackage factory to plugin
  sparkdq/checks/aggregate/count_checks/count_between_check.py
  sparkdq/checks/aggregate/count_checks/count_exact_check.py
  sparkdq/checks/aggregate/count_checks/count_max_check.py
  sparkdq/checks/aggregate/count_checks/count_min_check.py
  sparkdq/checks/aggregate/schema_checks/column_presence_check.py
  sparkdq/checks/aggregate/schema_checks/schema_check.py
  sparkdq/checks/row_level/contained_checks/is_contained_in_check.py
  sparkdq/checks/row_level/contained_checks/is_not_contained_in_check.py
  sparkdq/checks/row_level/date_checks/date_between_check.py
  sparkdq/checks/row_level/date_checks/date_max_check.py
  sparkdq/checks/row_level/date_checks/date_min_check.py
  sparkdq/checks/row_level/null_checks/not_null_check.py
  sparkdq/checks/row_level/null_checks/null_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_between_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_max_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_min_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_between_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_max_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_min_check.py
  sparkdq/factory/__init__.py
  sparkdq/management/check_set.py
  sparkdq/plugin/__init__.py
  sparkdq/plugin/check_config_registry.py
  sparkdq/plugin/check_factory.py
  tests/unit/plugin/__init__.py
  tests/unit/plugin/test_check_config_registry.py
  tests/unit/plugin/test_check_factory.py
Due: mypy, ruff-check, ruff-format

feat(check): add exactly-one-not-null-check
  docs/source/getting_started/built_in_checks.rst
  docs/source/getting_started/checks/null/exactly_one_not_null_check.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/row_level/null_checks/exactly_one_not_null_check.py
  tests/unit/checks/row_level/null_checks/test_exactly_one_not_null_check.py
Due: mypy, ruff-check, ruff-format

chore: reformat code via ruff
  tests/unit/checks/row_level/null_checks/test_exactly_one_not_null_check.py
Due: ruff-check, ruff-format

chore(pre-commit): add activate arg to mypy hook
  .pre-commit-config.yaml
  sparkdq/factory/__init__.py
Due: mypy, ruff-check, ruff-format

chore(release): 0.3.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat(range-checks): add parameter inclusive to include border values
  docs/source/getting_started/checks/date/date_between_check.rst
  docs/source/getting_started/checks/date/date_max_check.rst
  docs/source/getting_started/checks/date/date_min_check.rst
  docs/source/getting_started/checks/numeric/numeric_between_check.rst
  docs/source/getting_started/checks/numeric/numeric_max_check.rst
  docs/source/getting_started/checks/numeric/numeric_min_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_between_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_max_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_min_check.rst
  sparkdq/checks/base_classes/base_comparison_check.py
  sparkdq/checks/row_level/date_checks/date_between_check.py
  sparkdq/checks/row_level/date_checks/date_max_check.py
  sparkdq/checks/row_level/date_checks/date_min_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_between_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_max_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_min_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_between_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_max_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_min_check.py
  sparkdq/checks/utils/__init__.py
  sparkdq/checks/utils/base_comparison_check.py
  tests/unit/checks/row_level/date_checks/__init__.py
  tests/unit/checks/row_level/date_checks/test_date_between_check.py
  tests/unit/checks/row_level/date_checks/test_date_max_check.py
  tests/unit/checks/row_level/date_checks/test_date_min_check.py
  tests/unit/checks/row_level/numeric_checks/test_numeric_between_check.py
  tests/unit/checks/row_level/numeric_checks/test_numeric_max_check.py
  tests/unit/checks/row_level/numeric_checks/test_numeric_min_check.py
  tests/unit/checks/row_level/timestamp_checks/test_timestamp_between_check.py
  tests/unit/checks/row_level/timestamp_checks/test_timestamp_max_check.py
  tests/unit/checks/row_level/timestamp_checks/test_timestamp_min_check.py
Due: mypy, ruff-check, ruff-format

chore(style): reformat code and docstrings
  sparkdq/checks/row_level/date_checks/date_max_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_between_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_min_check.py
  tests/unit/checks/row_level/date_checks/test_date_min_check.py
  tests/unit/checks/row_level/numeric_checks/test_numeric_between_check.py
  tests/unit/checks/row_level/numeric_checks/test_numeric_max_check.py
  tests/unit/checks/row_level/numeric_checks/test_numeric_min_check.py
  tests/unit/checks/row_level/timestamp_checks/test_timestamp_between_check.py
Due: mypy, ruff-check, ruff-format

feat(checks): add inclusive parameter to range checks (#11)
  docs/source/getting_started/checks/date/date_between_check.rst
  docs/source/getting_started/checks/date/date_max_check.rst
  docs/source/getting_started/checks/date/date_min_check.rst
  docs/source/getting_started/checks/numeric/numeric_between_check.rst
  docs/source/getting_started/checks/numeric/numeric_max_check.rst
  docs/source/getting_started/checks/numeric/numeric_min_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_between_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_max_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_min_check.rst
  sparkdq/checks/base_classes/base_comparison_check.py
  sparkdq/checks/row_level/date_checks/date_between_check.py
  sparkdq/checks/row_level/date_checks/date_max_check.py
  sparkdq/checks/row_level/date_checks/date_min_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_between_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_max_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_min_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_between_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_max_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_min_check.py
  sparkdq/checks/utils/__init__.py
  sparkdq/checks/utils/base_comparison_check.py
  tests/unit/checks/row_level/date_checks/__init__.py
  tests/unit/checks/row_level/date_checks/test_date_between_check.py
  tests/unit/checks/row_level/date_checks/test_date_max_check.py
  tests/unit/checks/row_level/date_checks/test_date_min_check.py
  tests/unit/checks/row_level/numeric_checks/test_numeric_between_check.py
  tests/unit/checks/row_level/numeric_checks/test_numeric_max_check.py
  tests/unit/checks/row_level/numeric_checks/test_numeric_min_check.py
  tests/unit/checks/row_level/timestamp_checks/test_timestamp_between_check.py
  tests/unit/checks/row_level/timestamp_checks/test_timestamp_max_check.py
  tests/unit/checks/row_level/timestamp_checks/test_timestamp_min_check.py
Due: mypy, ruff-check, ruff-format

chore(release): 0.4.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

deploy: 38c94151c5fae031332ed036ae1f14ae8d9d7b26
  .doctrees/environment.pickle
  .doctrees/getting_started/checks/date/date_between_check.doctree
  .doctrees/getting_started/checks/date/date_max_check.doctree
  .doctrees/getting_started/checks/date/date_min_check.doctree
  .doctrees/getting_started/checks/numeric/numeric_between_check.doctree
  .doctrees/getting_started/checks/numeric/numeric_max_check.doctree
  .doctrees/getting_started/checks/numeric/numeric_min_check.doctree
  .doctrees/getting_started/checks/timestamp/timestamp_between_check.doctree
  .doctrees/getting_started/checks/timestamp/timestamp_max_check.doctree
  .doctrees/getting_started/checks/timestamp/timestamp_min_check.doctree
  .doctrees/index.doctree
  _sources/getting_started/checks/date/date_between_check.rst
  _sources/getting_started/checks/date/date_max_check.rst
  _sources/getting_started/checks/date/date_min_check.rst
  _sources/getting_started/checks/numeric/numeric_between_check.rst
  _sources/getting_started/checks/numeric/numeric_max_check.rst
  _sources/getting_started/checks/numeric/numeric_min_check.rst
  _sources/getting_started/checks/timestamp/timestamp_between_check.rst
  _sources/getting_started/checks/timestamp/timestamp_max_check.rst
  _sources/getting_started/checks/timestamp/timestamp_min_check.rst
  getting_started/checks/date/date_between_check.html
  getting_started/checks/date/date_max_check.html
  getting_started/checks/date/date_min_check.html
  getting_started/checks/numeric/numeric_between_check.html
  getting_started/checks/numeric/numeric_max_check.html
  getting_started/checks/numeric/numeric_min_check.html
  getting_started/checks/timestamp/timestamp_between_check.html
  getting_started/checks/timestamp/timestamp_max_check.html
  getting_started/checks/timestamp/timestamp_min_check.html
  searchindex.js
Due: none

docs(README): add pypi badge
  README.md
Due: none

docs(checks): update explanation of inclusive parameter
  docs/source/getting_started/checks/date/date_between_check.rst
  docs/source/getting_started/checks/date/date_max_check.rst
  docs/source/getting_started/checks/date/date_min_check.rst
  docs/source/getting_started/checks/numeric/numeric_between_check.rst
  docs/source/getting_started/checks/numeric/numeric_max_check.rst
  docs/source/getting_started/checks/numeric/numeric_min_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_between_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_max_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_min_check.rst
Due: none

docs(api): add api to documentation and update docstrings
  docs/source/api/checks.rst
  docs/source/api/core.rst
  docs/source/api/engine.rst
  docs/source/api/exceptions.rst
  docs/source/api/management.rst
  docs/source/api/plugin.rst
  docs/source/api_docs.rst
  docs/source/index.rst
  sparkdq/checks/aggregate/count_checks/count_between_check.py
  sparkdq/checks/aggregate/count_checks/count_exact_check.py
  sparkdq/checks/aggregate/count_checks/count_max_check.py
  sparkdq/checks/aggregate/count_checks/count_min_check.py
  sparkdq/checks/row_level/date_checks/date_between_check.py
  sparkdq/checks/row_level/date_checks/date_min_check.py
  sparkdq/checks/row_level/null_checks/exactly_one_not_null_check.py
  sparkdq/checks/row_level/null_checks/not_null_check.py
  sparkdq/checks/row_level/null_checks/null_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_between_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_max_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_min_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_between_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_min_check.py
  sparkdq/core/check_results.py
  sparkdq/core/severity.py
  sparkdq/engine/batch/dq_engine.py
  sparkdq/engine/batch/validation_result.py
  sparkdq/plugin/check_config_registry.py
Due: mypy, ruff-check, ruff-format

chore(depenedencies): execute uv sync
  uv.lock
Due: none

docs: update documentation and docstrings (#12)
  README.md
  docs/source/api/checks.rst
  docs/source/api/core.rst
  docs/source/api/engine.rst
  docs/source/api/exceptions.rst
  docs/source/api/management.rst
  docs/source/api/plugin.rst
  docs/source/api_docs.rst
  docs/source/getting_started/checks/date/date_between_check.rst
  docs/source/getting_started/checks/date/date_max_check.rst
  docs/source/getting_started/checks/date/date_min_check.rst
  docs/source/getting_started/checks/numeric/numeric_between_check.rst
  docs/source/getting_started/checks/numeric/numeric_max_check.rst
  docs/source/getting_started/checks/numeric/numeric_min_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_between_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_max_check.rst
  docs/source/getting_started/checks/timestamp/timestamp_min_check.rst
  docs/source/index.rst
  sparkdq/checks/aggregate/count_checks/count_between_check.py
  sparkdq/checks/aggregate/count_checks/count_exact_check.py
  sparkdq/checks/aggregate/count_checks/count_max_check.py
  sparkdq/checks/aggregate/count_checks/count_min_check.py
  sparkdq/checks/row_level/date_checks/date_between_check.py
  sparkdq/checks/row_level/date_checks/date_min_check.py
  sparkdq/checks/row_level/null_checks/exactly_one_not_null_check.py
  sparkdq/checks/row_level/null_checks/not_null_check.py
  sparkdq/checks/row_level/null_checks/null_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_between_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_max_check.py
  sparkdq/checks/row_level/numeric_checks/numeric_min_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_between_check.py
  sparkdq/checks/row_level/timestamp_checks/timestamp_min_check.py
  sparkdq/core/check_results.py
  sparkdq/core/severity.py
  sparkdq/engine/batch/dq_engine.py
  sparkdq/engine/batch/validation_result.py
  sparkdq/plugin/check_config_registry.py
  uv.lock
Due: mypy, ruff-check, ruff-format

feat(checkset): add fluent api for check definition
  docs/source/custom_checks/plugin_architecture.rst
  docs/source/getting_started/defining_checks.rst
  sparkdq/management/check_set.py
  tests/unit/management/test_check_set.py
Due: mypy, ruff-check, ruff-format

feat(check): add column-less-than-check
  docs/source/getting_started/built_in_checks.rst
  docs/source/getting_started/checks/columns_comparison/column_less.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/row_level/columns_comparison_checks/__init__.py
  sparkdq/checks/row_level/columns_comparison_checks/column_less_than.py
  tests/unit/checks/row_level/columns_comparison_checks/test_column_less_than_check.py
Due: mypy, ruff-check, ruff-format

feat(versioning): add version in __init__.py
  pyproject.toml
  sparkdq/__init__.py
Due: mypy, ruff-check, ruff-format

feat(check): add string-min-length-check
  docs/source/getting_started/built_in_checks.rst
  docs/source/getting_started/checks/strings/string_min_length.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/row_level/string_checks/__init__.py
  sparkdq/checks/row_level/string_checks/min_length_check.py
  tests/unit/checks/row_level/string_checks/test_min_length.py
Due: mypy, ruff-check, ruff-format

refactor(string-min-length-check): simplify validate logic
  sparkdq/checks/row_level/string_checks/min_length_check.py
Due: mypy, ruff-check, ruff-format

feat(check): add string-max-length-check
  docs/source/getting_started/built_in_checks.rst
  docs/source/getting_started/checks/strings/string_max_length.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/row_level/string_checks/max_length_check.py
  tests/unit/checks/row_level/string_checks/test_string_max_length_check.py
Due: mypy, ruff-check, ruff-format

feat(check): add string-length-between-check
  docs/source/getting_started/built_in_checks.rst
  docs/source/getting_started/checks/strings/string_between_length.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/row_level/string_checks/between_length_check.py
  tests/unit/checks/row_level/string_checks/test_between_length.py
Due: mypy, ruff-check, ruff-format

feat(check): add regex_match_check
  docs/source/getting_started/built_in_checks.rst
  docs/source/getting_started/checks/strings/regex-match-check.rst
  sparkdq/checks/__init__.py
  sparkdq/checks/row_level/string_checks/regex_match_check.py
  tests/unit/checks/row_level/string_checks/test_regex_match_check.py
Due: mypy, ruff-check, ruff-format
