Repository sparkdq-community/sparkdq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-check, ruff-format

mypy:
  name: mypy
  entry: uv run mypy
  language: python
  args:
  - --active

ruff-check:
  name: ruff-check
  entry: uv run ruff check --fix
  language: python

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: python

deploy: 170a4fd57e79bcfcd2ce260d1b9c0b4918e5b8bb
  .doctrees/environment.pickle
  .doctrees/index.doctree
Due: none

fix: add version list marker to CHANGELOG for semantic-release
  CHANGELOG.md
Due: none

chore: rename author to Marcel Kennert-Diaz
  LICENSE
  docs/source/conf.py
  pyproject.toml
Due: ruff-check, ruff-format

chore: modernize pre-commit hooks configuration
  .pre-commit-config.yaml
Due: none

chore: improve PyPI metadata for better discoverability
  pyproject.toml
Due: none

chore: add changelog URL to project metadata
  pyproject.toml
Due: none

chore: add markdown-link-check configuration
  .markdown-link-check.json
Due: none

chore(release): 0.11.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
  sparkdq/__init__.py
Due: mypy, ruff-check, ruff-format

docs(README): remove unnecessary badges
  README.md
Due: none

feat(engine): batch observable aggregate checks into single Spark job
  sparkdq/checks/aggregate/completeness_checks/columns_are_complete_check.py
  sparkdq/checks/aggregate/completeness_checks/completeness_ratio_check.py
  sparkdq/checks/aggregate/count_checks/count_between_check.py
  sparkdq/checks/aggregate/count_checks/count_exact_check.py
  sparkdq/checks/aggregate/count_checks/count_max_check.py
  sparkdq/checks/aggregate/count_checks/count_min_check.py
  sparkdq/checks/aggregate/freshness_checks/freshness_check.py
  sparkdq/core/observable_check.py
  sparkdq/engine/batch/check_runner.py
Due: mypy, ruff-check, ruff-format

chore: remove print-statement
  sparkdq/engine/batch/check_runner.py
Due: mypy, ruff-check, ruff-format

feat(engine): batch observable aggregate checks into single Spark job
  sparkdq/checks/aggregate/completeness_checks/columns_are_complete_check.py
  sparkdq/checks/aggregate/completeness_checks/completeness_ratio_check.py
  sparkdq/checks/aggregate/count_checks/count_between_check.py
  sparkdq/checks/aggregate/count_checks/count_exact_check.py
  sparkdq/checks/aggregate/count_checks/count_max_check.py
  sparkdq/checks/aggregate/count_checks/count_min_check.py
  sparkdq/checks/aggregate/freshness_checks/freshness_check.py
  sparkdq/core/__init__.py
  sparkdq/core/base_check.py
  sparkdq/core/observable_check.py
  sparkdq/engine/batch/check_runner.py
Due: mypy, ruff-check, ruff-format

docs(theme): overhaul visual branding for documentation site
  docs/assets/extra.css
  docs/assets/logo.svg
  mkdocs.yml
Due: none

docs(theme): refine visual polish on colors, logo, and footer
  docs/assets/extra.css
Due: none

docs(theme): migrate color palette from blue to charcoal + teal
  docs/assets/extra.css
  docs/assets/logo.svg
Due: none

docs(site): restructure navigation and expand community section
  docs/articles.md
  docs/assets/extra.css
  docs/code_of_conduct.md
  docs/contributing.md
  docs/examples.md
  mkdocs.yml
Due: none

docs(security): rewrite security policy with clearer reporting process
  SECURITY.md
Due: none

docs(contributing): rewrite contributing guide for clarity and accuracy
  CONTRIBUTING.md
Due: none

docs(conduct): rewrite Code of Conduct for consistent professional tone
  CODE_OF_CONDUCT.md
Due: none

docs(introduction): sharpen hook with competitive positioning and framework links
  README.md
  docs/index.md
Due: none

chore(changelog): backfill missing entries for v0.11.1, v0.11.2, and v0.11.3
  CHANGELOG.md
Due: none

chore(ci): upgrade Python to 3.13, uv image to trixie, and bump dev dependencies
  .github/workflows/ci.yaml
  .python-version
  pyproject.toml
  uv.lock
Due: none

fix(engine): resolve mypy type errors in batch check runner
  sparkdq/engine/batch/check_runner.py
Due: mypy, ruff-check, ruff-format

ci(codecov): add coverage threshold configuration with 80% target
  .codecov.yml
Due: none

Path conditions:
  mypy: any of: sparkdq/.* and \.py$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
